/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
	margin: 0px; padding: 0px;
	outline: none;
}
.markItUp a:link,
.markItUp a:visited {
	color: #000;
	text-decoration: none;
}
.markItUp  {
	width: 730px;
	margin: 5px 0 5px 0;
}
.markItUpContainer  {
	border: 1px solid #3C769D;	
	background:#FFF url("plugin_file.php?file=BBCodePlus/markitup/skins/mantis/images/bg-container.png") repeat-x top left;
	padding:5px 5px 2px 5px;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}

.markItUpEditor {
	font:12px 'CG Mono', 'Consolas', 'Courier New', Courier, monospace;
	padding: 5px 5px 5px 35px;
	border: 3px solid #3C769D;
	width: 667px;
	height: 320px;
	background: #FFF url("plugin_file.php?file=BBCodePlus/markitup/skins/mantis/images/bg-editor.png") no-repeat;
	clear: both;
	line-height: 18px;
	overflow: auto;
}
.markItUpPreviewFrame	{
	background-color: #FFF;
	width: 99.9%;
	height: 300px;
	margin: 0;
	border: solid 1px #C0C0C0;
	overflow-x: hidden;
	overflow-y: scroll;
}
.markItUpFooter {
	width: 100%;
}
.markItUpResizeHandle {
	overflow: hidden;
	width: 22px; height: 5px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("plugin_file.php?file=BBCodePlus/markitup/skins/mantis/images/handle.png");
	cursor: n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style: none;
	float: left;
	position: relative;
	padding-bottom: 3px;	
}
.markItUpHeader ul li:hover > ul{
	display: block;
}
.markItUpHeader ul .markItUpDropMenu {
	background: transparent url("plugin_file.php?file=BBCodePlus/markitup/skins/mantis/images/menu.png") no-repeat 115% 50%;
	margin-right: 5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right: 0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display: none;
	position: absolute;
	top: 23px; left: 0px;	
	background: #FFF;
	border: 1px solid #c0c0c0;
}
.markItUpHeader ul ul li {
	float: none;
	padding-bottom: 0px;	
}
.markItUpHeader ul ul .markItUpDropMenu {
	background: #FFF url("plugin_file.php?file=BBCodePlus/markitup/skins/mantis/images/submenu.png") no-repeat 100% 50%;
}
.markItUpHeader ul .markItUpSeparator {
	margin: 0 10px;
	width: 1px;
	height: 16px;
	overflow: hidden;
	background-color: #CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width: auto; height: 1px;
	margin: 0px;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position: absolute;
	top: -1px; left: 150px; 
}
.markItUpHeader ul ul ul li {
	float: none;
}
.markItUpHeader ul a {
	display: block;
	width: 16px; height: 16px;
	text-indent: -10000px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 3px;
	margin: 0px;
	border: solid 1px transparent;
}
.markItUpHeader ul a:hover {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: rgba(255,255,255, 0.5);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #C0C0C0;
}
.markItUpHeader ul ul a {
	display: block;
	padding-left: 0px;
	text-indent: 0;
	width: 120px; 
	padding:5px 5px 5px 25px;
	background-position: 2px 50%;
	border: solid 1px transparent;
}
.markItUpHeader ul ul a:hover  {
	background-color: #D2D2D2;
	border: solid 1px #C0C0C0;	
}